.form-introduce {
    font-size: 18px;
    font-weight: 450;
}

.form-divider {

    :global {

        .ant-divider-horizontal.ant-divider-with-text-center::before,
        .ant-divider-horizontal.ant-divider-with-text-center::after {
            border-top: 2px solid #F0F0F0;
        }
    }
}

.main {
    :global {
        .ant-form-item-control-input-content {
            display: flex;
            justify-content: start;

            .ant-space-item {
                display: flex;
                justify-content: start;
                font-weight: 500;
            }
        }
    }
}